<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href="/style_sheet.css" rel="stylesheet"/>
</head>

<body>

<!--<div class="navigation_bar">-->
  <!--<section class="clearfix">-->

  <!--<form action="/login" method="post">-->
    <!--<article class="one_forth">-->
      <!--<input class="form_width" name="username" placeholder="username" type="text"> <br>-->
      <!--<input class="form_width" name="password" placeholder="password" type="password">-->
    <!--</article>-->
    <!--<article class="one_eighth">-->
      <!--<button id="login_button" type="submit">Login</button>-->
    <!--</article>-->
  <!--</form>-->
  <!--</section>-->
<!--</div>-->

<div class="navigation_bar">
  <ul>
    <li><a href="/registration">Home</a></li>
    <li><a href="/registration">About</a></li>
    <li><a href="/registration">Contact</a></li>
    <li><a href="/registration">Blah</a></li>
    <li>
      <form action="/login" method="post" class="login_inputs">
        <input class="form_width" name="username" placeholder="username" type="text">
        <input class="form_width" name="password" placeholder="password" type="password">        </span>
        <span>
          <button id="login_button" type="submit">Login</button>
        </span>
      </form>
    </li>
  </ul>
</div>


<div class="wrapper">
  <% if flash[:login] %>
      <p style="color: black; font-size: 60px"><%= flash[:login] %></p>
  <% end %>
  <article class="one_fourth"></article>
  <article class="one_half" id="flash_box">
    <% if flash[:notice] %>
        <p style="color: green"><%= flash[:notice] %>
    <% end %>
  </article>
  <article class="one_forth"></article>
</div>

<div class="wrapper">
  <section class="clearfix">
    <h1>sup</h1>
    <%= yield %>
  </section>
</div>


<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/application.js"></script>
</body>

</html>